<ol class="list-group list-group mt-5 w-100">
    <li class="list-group-item bg-dark text-white d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Current values</div>
        </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start" id="light-list-item">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Light</div>
        </div>
        <span class="badge text-bg-success rounded-pill" id="light-value">-- <span>Lm</span></span>
    </li>
    <script>
        function fetchLight() {
            fetch('/api/light/')
                .then(response => response.json())
                .then(data => {
                    if (data.light !== undefined) {
                        document.getElementById('light-value').innerHTML = `${data.light} <span>%</span>`;
                    }
                });
        }
        fetchLight();
        setInterval(fetchLight, 3000);
    </script>
    <li class="list-group-item d-flex justify-content-between align-items-start" id="temperature-list-item">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Temperature</div>
        </div>
        <span class="badge text-bg-danger rounded-pill" id="temperature-value">-- <span>°C</span></span>
    </li>
    <script>
        function fetchTemperature() {
            fetch('/api/temperature/')
                .then(response => response.json())
                .then(data => {
                    if (data.temperature !== undefined) {
                        document.getElementById('temperature-value').innerHTML = `${data.temperature} <span>°C</span>`;
                    }
                });
        }
        setTimeout(() => {
            fetchTemperature();
            setInterval(fetchTemperature, 3000);
        }, 1000);
    </script>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Humidity</div>
        </div>
        <span class="badge text-bg-success rounded-pill">80 <span>%</span></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">CO2</div>
        </div>
        <span class="badge text-bg-danger rounded-pill">800 <span>ppm</span></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Plant</div>
        </div>
        <span class="badge text-bg-success rounded-pill">14 <span>%</span></span>
    </li>
</ol>