{% extends "wrapper.html" %}
{% block content %}

<div class="row mx-1 py-1" style="height: 100vh;">
    <div class="col-5 border border-dark m-0 p-0 ">
        <div class="border border-dark text-white bg-dark">
            <h3>CONTROL PANEL</h3>
        </div>
        <div class="card bg-secondary my-3 mx-1">
            <div class="card-header bg-warning">Light<span class="badge rounded-pill bg-primary mx-5"></span></div>
            <div class="card-body">
                <div class="btn-group" role="group"
                    aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio"
                        id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary"
                        for="btnradio1">ON</label>
                    <input type="radio" class="btn-check" name="btnradio"
                        id="btnradio2" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary"
                        for="btnradio2">MANUALY</label>
                    <input type="radio" class="btn-check" name="btnradio"
                        id="btnradio3" autocomplete="off" checked>
                    <label class="btn btn-outline-secondary"
                        for="btnradio3">OFF</label>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-7 border border-dark m-0 p-0">

    </div>
</div>
<script>
    function updateButtonStyles() {
      document.querySelectorAll('.btn-group label').forEach(label => {
        label.classList.remove('btn-primary');
        label.classList.add('btn-outline-secondary');
      });
  
      const checkedRadio = document.querySelector('.btn-check:checked');
      if (checkedRadio) {
        const selectedLabel = document.querySelector(`label[for="${checkedRadio.id}"]`);
        selectedLabel.classList.remove('btn-outline-secondary');
        selectedLabel.classList.add('btn-primary');
      }
    }
  
    // Викликаємо при зміні
    document.querySelectorAll('.btn-check').forEach((radio) => {
      radio.addEventListener('change', updateButtonStyles);
    });
  
    // Викликаємо одразу при завантаженні
    window.addEventListener('DOMContentLoaded', updateButtonStyles);
  </script>
{% endblock %}