{% extends "wrapper.html" %}
{% block content %}

<div class="container">

    <center>
        <div class="content" style="height: 55vh;"></div>
    </center>

</div>

<div class="parameters w-100">

    <div class="row" style="height: 45vh;">
        <div class="col-2 p-0 m-0 border border-dark ps-3">
            <center>
                <h2>Control</h2>
            </center>
            <div class="ps-3">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label"
                        for="flexSwitchCheckDefault">Debug</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox"
                        id="flexSwitchCheckDefault">
                    <label class="form-check-label"
                        for="flexSwitchCheckDefault">Safe mode</label>
                </div>
            </div>
            <hr>

        </div>
        <div class="col-10 border border-dark p-0 m-0">
            <center>
                <h2 class="text-white bg-dark w-100">Parameters</h2>
                <div class="row p-3">
                    <div class="col-2">
                        {% include 'parameters/heater.html' %}
                    </div>
                    <div class="col-2">
                        {% include 'parameters/light.html' %}
                    </div>
                    <div class="col-4">

                    </div>

                    <div class="col-2">
                        {% include 'parameters/co2.html' %}
                    </div>
                    <div class="col-2">
                        {% include 'parameters/pump.html' %}
                    </div>
                </div>
            </center>
        </div>
    </div>

</div>

{% endblock %}